h3 {
    color:rgb(248, 52, 7)
}

#title {
    background-color:aqua
}

.bg {
    background-color: aquamarine;
}

#love {
    color:rgb(245, 39, 118)
}

p {
    color:blue
}

.box1 {
    background-color: rgb(233, 14, 182);
}

.box2 {
    background-color: blue;
    /*margin: 50px 30px 100px 10px;*/
    Width: 50%;
    margin: 50px auto;

}
.box3 {
    background-color: rgb(21, 255, 0);
    width:auto
}